@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;
@use 'abstracts/functions' as *;
@use 'abstracts/media' as *;

// Base styles
@use 'base/reset';
@use 'base/typography';
@use 'base/base';

// Layout and components
@use 'layout/header';
@use 'layout/footer';
@use 'components/button';
@use 'components/card';
@use 'layout/grid';

// Pages and themes
@use 'pages/home';
@use 'themes/theme';
@use 'pages/blog';
@use 'pages/client';
@use 'pages/professional';
@use 'pages/reviews';
@use 'pages/about';